@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(imagens/paisagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1,h2 {
    font-family: "Domine", serif;
}

div#container {
    background-color: rgba(255, 255, 255, 0.084);
    backdrop-filter: blur(35px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
    padding: 15px;
    border: 0.1px solid white;
    border-radius: 20px;
}

form#search {
    gap: 8px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.639);
    backdrop-filter: blur(30px);
    text-align: center;
}


#search input {
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
}

#search input:focus-visible{
    outline: none;
}

#search button {
    background-color: transparent;
    color: rgb(29, 29, 29);
    border: none;
    cursor: pointer;
}




#weather {
    display: none;
    margin-top: 20px;
}

#weather.show {
    display: block;
}

#weather #title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 8px black;
}

#temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    background-image: linear-gradient( -120deg, rgb(95, 166, 242), rgb(216, 241, 255));
    color: rgb(244, 244, 244);
    border-radius: 20px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.386);
    padding: 25px;
}

#temp_value {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
}

#temp_description {
    font-weight: 500;
    text-transform: capitalize;
}

#other_infos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#other_infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.231);
    background-color: rgba(255, 255, 255, 0.795);
    backdrop-filter: blur(20px);
    gap: 10px;
}

#other_infos .info h2 {
    font-size: 12px;
    font-weight: 600;
}

#other_infos .info i {
    text-align: center;
    font-size: 20px;
    width: 20%;
}

#temp_max_icon {
    color: #ff4242;
}

#temp_min_icon {
    color: rgb(26, 151, 235);
}

#humidity_icon {
    color: rgb(74, 216, 255);
}

#wind_icon {
    color: rgb(112, 112, 112);
}

#alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2em;
}

#alert img {
    width: 200px;
    margin-top: 25px;
}